#abouts-page{
    h1 {
        color: red;
    }
    h2 {
        text-align: center;
    }
    h3 {
        margin-top: 100px;
    }
    #photo-caption{
        color: #AAAAAA;
        font-style: italic;
    }
    .blue-color{
        color: blue;
    }
}
