extends ../layouts/default

block content
	.container
		#abouts-page
			h1 This is header 1
			h2.blue-color This is header 2
			h3.blue-color This is header 3
			p abouts page
			p.
				This is line 1. <br />
				This is line 2. <br />
				This is line 3.
			img(src="images/bookofnumbers.jpeg")
			p#photo-caption New text
			