extends ../layouts/default

block content
	.container
		h1 This is header 1
		h2 This is header 2
		h3 This is header 3
		p abouts page
		p.
			This is line 1. <br />
			This is line 2. <br />
			This is line 3.
		img(src="images/bookofnumbers.jpeg")
		p New text
		