extends ../layouts/default

block content
	.container
		#abouts-page
			.quote
				h3 Numbers are beautiful! 
				p KidProf 
			h2 About the project
			p.
				In this project, we are required to find a reference book (The Book of Numbers), choose several interesting sections (9, 11, 30, 365.25) to form our project, and then show to our classmates the information and the things we could learn from them.
				<br />Please see our website and you will see the very wonderful maths knowledge which we have chosen for you.
				<br />Enjoy!
			h2 Reference book
			p.larger-text Book name: The Book of Numbers
			p Author: Tim Glynne-Jones
			p Publisher: Arcturus Publishing Limited
			p.larger-text Project name: "Numbers are Fun!"
			p.larger-text Topics chosen: 9, 11, 30, 365.25

			img(src="images/bookofnumbers.jpeg")
			p#photo-caption The Book of Numbers
			